.l-works{
  &-container{
    width: 1000px;
    margin: 80px auto;
    display: grid;
    gap: 40px;
    @include mediaQuery(sm){
      width: 100%;
    }
  }
  &-main{
    display: grid;
    grid-template-columns: 100%;
    row-gap: 40px;
    justify-content: center;
    align-items: center;
    position: relative;
    @include mediaQuery(sm){
      width: 100%;
      row-gap: 40px;
    }
  }
}
.l-wide{
  @include mediaQuery(sm){
    width: 100%;
    padding: 16px;
  }
  &-container{
    width: 1200px;
    margin: 80px auto;
    display: grid;
    align-items: center;
    gap: 120px;
    @include mediaQuery(sm){
      width: 100%;
      padding: 0 16px;
      gap: 80px;
    }
  }

}