.l-works{
  &-container{
    width: 1000px;
    margin: 80px auto;
    display: grid;
    align-items: center;
    gap: 40px;
  }
  &-main{
    display: grid;
    grid-template-columns: 1fr 320px;
    column-gap: 40px;
    position: relative;
  }
}
.l-wide{
  &-container{
    width: 1200px;
    margin: 80px auto;
    display: grid;
    align-items: center;
    gap: 120px;
  }
}