$breakpoints: (
  'sm': 'screen and (max-width: 750px)',
  'lg': 'screen and (min-width: 751px)',
) !default;

@mixin mediaQuery($breakpoint: lg) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

$black: #444;
$white: #fff;

$beige-light: #f9f9e7;
$green-light: #00ede2;
$gray-light: #747474; 

$jp-font: 'Noto Sans JP', sans-serif;;
$en-font: 'Jost', sans-serif;
