.works{
  @include mediaQuery(sm){
    width: 100%;
    padding: 0 16px;
    font-size: 14px;
    line-height: 2;
  }
  &__title-area{
    padding: 40px 0;
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 24px;

  }
  &__title{
    font-size: 32px;
    letter-spacing: 4px;
    @include mediaQuery(sm){
      font-size: 28px;
      line-height: 1.2;
    }
  }
  &__title-image{
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__title-description{
    font-size: 18px;
    font-weight: bold;
    @include mediaQuery(sm){
      font-size: 14px;
    }
  }
  &__title-link{
    display: block;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    text-decoration: underline;
    @include mediaQuery(sm){
      font-size: 14px;
    }
    &:after{
      position: absolute;
      content: url('/img/icons/icon_arrow-up-right.svg');
      width: 14px;
      height: 14px;
      margin-left: 8px;
    }
  }
  &__contents{
    display: grid;
    gap: 64px;
    line-height: 2.25;
    font-size: 18px;
    @include mediaQuery(sm){
      font-size: 14px;
      line-height: 2;
      padding: 0 8px;
      gap: 40px;
    }
  }

  &__section{
    width: 640px;
    margin: 0 auto;
    display: grid;
    gap: 40px;
    word-break: break-all;
    @include mediaQuery(sm){
      width: 100%;
    }
  }
  &__section-label{
    display: block;
    width: fit-content;
    padding: 0 10px;
    background: $green-light;
    border-radius: 4px;
    line-height: 1.6;
  }
  &__section-title{
    font-size: 20px;
    border-left: 4px solid $green-light;
    padding-left: 20px;
    line-height: 2;
    @include mediaQuery(sm){
      font-size: 16px;
      line-height: 1.5;
    }
  }
  &__section-sub-title{
    font-weight: bold;
  }
  &__section-img{
    width: 100%;
    display: grid;
    gap: 8px;
    width: 100%;
    height: 100%;
    gap: 8px;    
    @include mediaQuery(sm){
      gap: 4px;
    }
    img {
      width: 100%;
      aspect-ratio: 16 / 9;
      object-fit: contain;
      @include mediaQuery(sm){
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  &__section-img-long{
    width: 100%;
    display: grid;
    gap: 8px;
    width: 100%;
    height: 100%;
    gap: 8px;    
    @include mediaQuery(sm){
      gap: 4px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      @include mediaQuery(sm){
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  &__img-description{
    font-size: 14px;
    color: $gray-light;
    line-height: 1.5;
    padding: 8px 0;
    @include mediaQuery(sm){
      font-size: 12px;
      line-height: 1.2;
    }
  }
  &__section-list{
    margin-left: 1em;
  }

  &__summary{
    width: inherit;
    display: grid;
    gap: 24px;
    padding: 24px 40px;
    border: 1px solid $gray-light;
    border-radius: 4px;
    font-size: 16px;
    color: $gray-light;
    @include mediaQuery(sm){
      font-size: 14px;
    }
  }
  &__summary-item{
    display: grid;
    gap: 4px;
  }
  &__summary-title{
    font-weight: bold;
  }
  &__summary-detail{
    line-height: 1.8;
    li{
      display: inline-block;
      &:after{
        content: "/";
        padding: 0 2px;
      }
    }
    li:last-of-type{
      &:after{
        content: none;
      }
    }
    @include mediaQuery(sm){
      li{
        display: block;
        &:after{
          content: none;
        }
      }
    }
  }
  &__button-wrapper{
    display: grid;
    justify-content: center;
  }
  &__liner{
    background: linear-gradient(transparent 60%, $green-light 60%);
  }

  



}