@import './_reset';
@import './_variables';
@import './_layout';
@import './_works';

body{
    color: $black;
    font-family: $jp-font;
}
a {
    color: $black;
    text-decoration: none;  
    &:active,
    &:hover{
        color: $green-light;
    }
}